<!DOCTYPE html>
<html>
<head>
  <title>Rails Dev</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
  
<%= render 'layouts/navigation' %>

<section id="mast" class="fwidth">
	<div class="container">
		<div class="row">
			
				<%= yield %>
			
		</div>
	</div>
</section>

<%= render 'layouts/footer' %>


</body>
</html>
